/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 27, 2022, 10:46:50 AM
    Author     : chris
*/

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(41, 41, 88);
    margin-left: auto;
    margin-right: auto;
}

.title {margin: 25px 50px;}

h1{
    text-align: center;
}
h3 {
    text-align: center;
}
h3, .info{margin: 25px 50px;}

#nav {
    background-color: #777;
}

.navbar__links{
    color: white;
}

#display-image {  
    width: 100%;
    height: 400px;
    background-image: url('https://3.bp.blogspot.com/-q5m1SdSeQUc/WGrAj-pN7gI/AAAAAAAAGGI/_8Q59S37HewjOXiJ7hrglsYXLv_jwTacgCLcB/s1600/Heading.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#result{
   display: grid;
   gap: 10px;
   padding: 10px 0;
  }

.thumbnail{
    height: 192px;
    }


footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    }

