<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sighting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body id="sighting">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="">SuperSightings</a>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a href="SuperHeroHome.html" class="navbar__links">Home</a>
        </li> &nbsp; &nbsp;
        <li class="nav-item">
            <a href="Who.html" class="navbar__links">Who</a>
        </li>  &nbsp; &nbsp;
        <li class="nav-item">
            <a href="SuperPower.html" class="navbar__links">SuperPower</a>
        </li>  &nbsp; &nbsp;
        <li class="nav-item">
            <a href="Organization.html" class="navbar__links">Organization</a>
        </li>  &nbsp; &nbsp;
        <li class="nav-item">
            <a href="HomeBase.html" class="navbar__links">HomeBase</a>
        </li>  &nbsp; &nbsp;
        <li class="nav-item">
            <a href="Sighting.html" class="navbar__links">Sighting</a>
        </li>  &nbsp; &nbsp;
        <li class="nav-item">
            <a href="Gallery.html" class="navbar__links">Gallery</a>
        </li>  &nbsp; &nbsp;
    </ul>
</nav>



<!--- Thu's code --->


<div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
        <span class="h3">Edit Sighting</span>
    </div>
    <div class="col-7 text-center m-3">
        <form action="/super-sightings/editSighting" method="POST">
            <div class="form-group row">
                    <label for="supName" class="col-3 col-form-label">
                        Superhero Name</label>
                    <div class="col-9">
                        <input type="text" name="superName"
                               id="supName" class="form-control"/>
                    </div>
            </div>


                <!--                <div class="col-9">-->
<!--                    <select id="superheroes" name="superId"-->
<!--                            class="form-control" >-->
<!--                        <option th:each="super : ${superheroes}"-->
<!--                                th:value="${super.superId}"-->
<!--                                th:text="${super.superName}">-->


<!--                            Superhero Name</option>-->
<!--                    </select>-->
<!--                </div>-->
            <div class="form-group row">
                <label for="location" class="col-3 col-form-label">
                    Location ID</label>
                <div class="col-9">
                    <select id="location" name="locationId"
                            class="form-control" >
                        <option th:each="location : ${locations}"
                                th:value="${location.locationId}"
                                th:text="${location.locationName}">
<!--                                th:selected="${sighting.sightingLocation.locationId == location.locationId}"-->

                            Location ID</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-3 col-form-label">
                    Date</label>
                <div class="col-9">
                    <input type="date" name="date" id="date" class="form-control"
                    />
                    <!--                        <div th:if="${#fields.hasErrors('location.date')}">-->
                    <!--                            <p th:each="error : ${#fields.errors('location.date')}" class="alert alert-danger"-->
                    <!--                               th:text="${error}"> Bad date</p>-->
                    <!--                        </div>-->
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Sighting</button>
        </form>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/home.js"></script>
</body>

</html>
